{%extends 'main_app/base.html' %}

{% block content %}
<div class="row">
	<div class="row">
		<div class="card-panel grey lighten-2 col s12 m8 l6 offset-l3 m2">
			<span class="red-text"><h5>Add Address</h5>
			</span>
		</div>
	</div>
	<form action="{{url_for('user_management.addaddress')}}" method="POST">{{ form.csrf_token }}
		<div class="row">
			<div class="row">
				<div class="input-field col s12 m8 l6 offset-l3 m2">
					<input id="first_name" type="text" name="first_name">
					<label for="first_name">First Name</label>
				</div>
			</div>
			<div class="row">	
				<div class="input-field col s12 m8 l6 offset-l3 m2">
					<input id="last_name" type="text" name="last_name" >
					<label for="last_name">Last Name</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12 m8 l6 offset-l3 m2">
					<input id="address1" type="text" name="address1">
					<label for="address1">Address</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12 m8 l6 offset-l3 m2">
					<input id="address2" type="text" name="address2" >
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12 m8 l6 offset-l3 m2">
					<input id="landmark" type="text" name="landmark">
					<label for="landmark">Land Mark</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12 m8 l6 offset-l3 m2">
					<input id="state" type="text" name="state">
					<label for="state">State</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12 m8 l6 offset-l3 m2">
					<input id="city" type="text" name="city">
					<label for="city">City</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12 m8 l6 offset-l3 m2">
					<input id="pincode" type="text" name="pincode">
					<label for="pincode">Pincode</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12 m8 l6 offset-l3 m2">
					<input id="mobileno" type="text" name="mobileno">
					<label for="mobileno">Mobile No</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12 m8 l6 offset-l3 m2">
					<input type="checkbox" checked="checked" uid="default_flag" name="default_flag" />
		      		<label for="default_flag">Set Default</label>
		      	</div>
      		</div>
      		<div class="row">
				<div class="input-field col s12 m8 l6 offset-l3 m2">
					<button type="submit" class="btn cyan waves-effect waves-light col s12">Save</button>
				</div>
			</div>
		</div>
	</form>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
		    {% for message in messages %}
				<div class="row">
				<div class="chip  red lighten-5">
					{{ message }}
					<i class="close material-icons">close</i>
				</div>
				</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
</div>
	

{% endblock %}