{%extends 'main_app/base.html' %}
{% block content%}
<div class="row">
	<div class="row">
		<div class="card-panel grey lighten-2 col s12 m8 l6 offset-l3 m2">
			<span class="red-text"><h5>Your Profile</h5>
			</span>
		</div>
	</div>
	<form action="{{url_for('user_management.edituserprofile')}}" method="POST">{{form.csrf_token}}
		<div class="row">
			<div class="row">
				<div class="input-field col s12 m8 l6 offset-l3 m2">
					<input id="first_name" type="text" name="first_name" value="{{form.first_name.data}}">
					<label for="first_name">First Name</label>
				</div>
			</div>
			<div class="row">	
				<div class="input-field col s12 m8 l6 offset-l3 m2">
					<input id="last_name" type="text" name="last_name" value="{{form.last_name.data}}">
					<label for="last_name">Last Name</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12 m8 l4 offset-l3 m2">
					<select id="gender" name="gender" value={{form.gender.data}}>>
						<option value="" disable selected>Select Gender</option>
						<option value="female" {%if form.gender.data=="female"%}{{"selected"}}{% endif%}>Female</option>
						<option value="male" {%if form.gender.data=="male"%}{{"selected"}}{% endif%}>Male</option>
					</select>
					<label>Gender</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12 m8 l6 offset-l3 m2">
					<input id="mobile_number" type="text" name="mobile_number" value="{{form.mobile_number.data}}">
					<label for="mobile_number">Moblie Number</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12 m8 l6 offset-l3 m2">
					<!-- {{form.dateofbirth(class="datepicker") }} -->
					<input id="dateofbirth" name="dateofbirth" type="date" class="datepicker" value="{{form.dateofbirth.data}}">
					<label for="dateofbirth">Date of Birth</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12 m8 l6 offset-l3 m2">
					<button type="submit" class="btn cyan waves-effect waves-light col s12">Save</button>
				</div>
			</div>
		</div>
	</form>
</div>
	


{% endblock %}

