{%extends 'main_app/blankbase.html' %}
{% block content%}

<div class="row">
	<div class="col s12 m2 l3">
	</div>
	<div class="col s12 m8 l6">
		<div class="row">
		<div class="valign-wrapper">
			<div class="card-panel z-depth-4">
				<div class="row">
					<h5 class="center-align">Send password Reset email for <a href={{ url_for('main_app.home') }}> Arhamcollections</a>, </h5>
					<form class ="col s12" method="POST"> 
						<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
						<div class="input-field col s12">
							<i class="material-icons prefix">account_circle</i>
							<input id="email"  type="text" class="validate" name="email">
							<label for="email">Email</label>
						</div>
						<div class="input-field col s12">
							<button type="submit" class="btn cyan waves-effect waves-light col s12">Password Reset</button>
						</div>
					</form>
					<div class="col s12 m8 l6 offset-l3 m2">
						<div class="row" id = "success" >
							<div class="chip green lighten-5" id="successmessage">
								<i class="close material-icons">close</i>
							</div>
							</div>
							<div class="row" id="error">
							<div class="chip red lighten-5" id="errormessage">
								<i class="close material-icons">close</i>
							</div>
						</div>
					</div>	
				</div>
			</div>
		</div>
		</div>
	</div>
	<div class="col s12 m2 l3">
	</div>
</div>

{% endblock %}

{% block endjs%}
{{super()}}
<script>


$(document).ready(function(event){
	$('#success').hide()
	$('#error').hide()

	var url;
	url = "{{ url_for('user_management.forgotpassword')}}";
	

	$('form').on('submit',function(event){

		$.ajax({
			type:"POST",
			url:url,
			data:$('form').serialize(),


		})
		.done(function(data){
						if(data.success){
							$('#success').show();
							$('#error').hide();
							$("#successmessage").text(data.success);
						}

						else if (data.error){
							$('#error').show();
							$('#success').hide();
							$("#errormessage").text(data.error);
						}
		});


	event.preventDefault();
	});


});

</script>

{% endblock%}







