{%extends 'main_app/blankbase.html' %}
{% block content%}

<div class="row">
	<div class="col s12 m2 l3">
	</div>
	<div class="col s12 m8 l6">
		<div class="row">
		<div class="valign-wrapper">
			<div class="card-panel z-depth-4">
				<div class="row">
					<h5 class="center-align">Send password Reset email for <a href={{ url_for('main_app.home') }}> Arhamcollections</a>, </h5>
					<form action="{{url_for('user_management.forgotpassword')}}" class ="col s12" method="POST"> {{ form.csrf_token }}
						<div class="input-field col s12">
							<i class="material-icons prefix">account_circle</i>
							<input id="email"  type="text" class="validate" name="email">
							<label for="email">Email</label>
						</div>
						<div class="input-field col s12">
							<button type="submit" class="btn cyan waves-effect waves-light col s12">Password Reset</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		</div>
	</div>
	<div class="col s12 m2 l3">
	</div>
</div>

{% endblock %}









