{%extends 'main_app/blankbase.html' %}
{% block content%}
<div class="row">
	<div class="col s12 m8 l6 offset-l3 m2">
		<div class="row">
		<div class="valign-wrapper">
			<div class="card-panel z-depth-4">
				<div class="row">
					<h5 class="center-align">Send password Reset email for <a href={{ url_for('main_app.home') }}> Arhamcollections</a>, </h5>
					<form class ="col s12" method="POST"> 
						<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
						<div class="input-field col s12">
							<input id="email"  type="text" class="validate" name="email">
							<label for="email">Email</label>
						</div>
						<div class="input-field col s12">
							<button type="submit" class="btn cyan waves-effect waves-light col s12">Password Reset</button>
						</div>
					</form>
					
				</div>


				<div class="row">
					<div class="row" id ="success">
						 <div class="success-msg">
							
						 </div>					 
					</div>
					<div class="row" id ="error">
						 <div class="error-msg">
							
						 </div>					 
					</div>
				</div>
				
			</div>

		</div>

		</div>
	</div>
	<div class="col s12 m2 l3">
	</div>
</div>

{% endblock %}

{% block endjs%}
{{super()}}
<script>


$(document).ready(function(event){
	$('#success').hide()
	$('#error').hide()

	var url;
	url = "{{ url_for('user_management.forgotpassword')}}";
	

	$('form').on('submit',function(event){

		$.ajax({
			type:"POST",
			url:url,
			data:$('form').serialize(),


		})
		.done(function(data){
							
							ShowMessage(data);
							
					if (data.fielderror)
						{
						$.each(data.fielderror,function(datakey,datavalue){
							$('form input').each(function(key,value){
								if (this.id==datakey){
									$('label[for="'+datakey +'"]').attr('data-error',datavalue);
									$(this).addClass('invalid');
									$(this).prop('aria-valid',"true");
									$('label[for="'+datakey +'"]').addClass('active');
									}

							});    
						});
						}
						
		});


	event.preventDefault();
	});


});

</script>

{% endblock%}







