
{%extends 'main_app/base.html' %}

{%block content%}
<div class="row">
	<div class="col s12">
		<div class="info-msg">
		  <i class="fa fa-info-circle"></i>
		  This is an info message.
		</div>
	</div>	
</div>
<div class="row">
	<div class="col s6">
		<div class="error-msg">
		    <i class="fa fa-times-circle"></i>
		  This is an info message.
		</div>
	</div>	
	<div class="col s6">
		<div class="success-msg">
		  <i class="fa fa-info-circle"></i>
		  This is an info message.
		</div>
	</div>	
</div>
<div class="row">
	<div class="col s5">
		<div class="warning-msg">
		  <i class="fa fa-warning"></i>
		  This is an info message.
		</div>
	</div>	
</div>

<div class="row">
	<div class="success-msg">
		 <i class="fa fa-check"></i>
		
	</div>
	<div class="error-msg">
		    <i class="fa fa-times-circle"></i>
		  
	</div>
</div>

{%endblock%}
