
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{%block title%}Arham Collections{%endblock%}</title>
	 <link href="{{ url_for('main_app.static',filename='css/materialize.min.css') }}" rel="stylesheet">
	 <link href="{{ url_for('main_app.static',filename='css/fontawesome.min.css') }}" rel="stylesheet">
	 <link href="{{ url_for('main_app.static',filename='css/custom.css') }}" rel="stylesheet">
	 <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
		
</head>
<body>
{%block startjs%}
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

</script>


{% endblock %}

<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->




<main>
<div class="row">

    {%include 'main_app/navbar.html'%}

    
		
</div>

<div class="container">
    {% block content%}
    <div class="row">


      {% endblock %}
    </div>  
</div>
</main>
<div>
	{%include 'main_app/footer.html'%}
</div>

{%block endjs%}

<script type="text/javascript" src="{{ url_for('main_app.static',filename='js/jquery.min.js')}}"></script>
<script  type="text/javascript" src="{{ url_for('main_app.static',filename='js/materialize.min.js')}}"></script>
<script  type="text/javascript" src="{{ url_for('main_app.static',filename='js/fontawesome-all.js')}}"></script>
<script  type="text/javascript" src="{{ url_for('main_app.static',filename='js/ajax_csrf.js')}}"></script>
<script  type="text/javascript" src="{{ url_for('main_app.static',filename='js/custom.js')}}"></script>







 {%endblock%}


</body>
</html>