

<footer class="page-footer grey lighten-3">
  <div class="container">
    <div class="row">
      {%include 'main_app/footercontact.html'%}
    </div>
  </div>
</footer>
<div class="divider"></div>
<footer class="page-footer grey lighten-4">
  <div class="container">
    <div class="row">
      {%include 'main_app/footerlink.html'%}
    </div>
  </div>
</footer>


  <div class="footer-copyright grey lighten-2">
  <div class="container">
    <div class="row">
     {%include 'main_app/footercopyright.html'%}
    </div>
  </div>
</footer>

