<div class="col s12 m12 l12">
  <div class="col s12 m6 l3">
    <h5 class="center-align" id ="footertitle">Join us here</h5>
      <div style="text-align: center;">
        <i id="footersocialicon" class="fab fa-facebook-square fa-3x style=display: inline-block;color:#e53935;"></i> &nbsp;&nbsp;&nbsp;
        <i id="footersocialicon" class="fab fa-twitter-square fa-3x  style=display: inline-block;"></i> &nbsp;&nbsp;&nbsp;
        <i id="footersocialicon"  class="fab fa-whatsapp-square fa-3x style=display: inline-block;"></i> &nbsp;&nbsp;&nbsp;
        <i id="footersocialicon" class="fab fa-instagram fa-3x style=display: inline-block;"></i> &nbsp;&nbsp;&nbsp;
      </div>
  </div>
  <div class="col s12 m6 l3">
    <h5 id ="footertitle">Email Us:</h5>
    <ul>
      <li> 
        <a href="#" id="footercontact">
        <div class="valign-wrapper">
          <div id="emailsocialicon"></div> 
           care@abc.com
        </div>
        
        </a>
      </li>
    </ul>
  </div>
  <div class="col s12 m6 l3">
    <h5 id="footertitle">Call Us:</h5>
    <ul>
      <li>
        <a href="#" id="footercontact">
          <div class="valign-wrapper">
            <div id="phonesocialicon"></div>
            9320089916
          </div>
        </a>
      </li>
    </ul> 
  </div>
  <div class="col s12 m6 l3">
    <h5 id="footertitle"> Read Our FAQ's </h5>
    <ul>
      <li>
        <a href={{ url_for('main_app.faq') }} id="footercontact">
          <div class="valign-wrapper">
          <div id="faqsocialicon" ></div>
            Click here
          </div>
        </a>
      </li>
    </ul>
  </div>

</div>
