<h5 class="blue-grey-text text-darken-2">Join us here</h5>
<i class="fab fa-facebook-square fa-3x" style="display: inline-block;"></i> &nbsp;&nbsp;&nbsp;
<i class="fab fa-twitter-square fa-3x" style="display: inline-block;"></i> &nbsp;&nbsp;&nbsp;
<i class="fab fa-whatsapp-square fa-3x" style="display: inline-block;"></i> &nbsp;&nbsp;&nbsp;
<i class="fab fa-instagram fa-3x" style="display: inline-block;"></i> &nbsp;&nbsp;&nbsp;

<h5 class="blue-grey-text text-darken-2">Email Us:</h5>
<a href="#"><i class="fas fa-envelope fa-3x fa-fw" ></i> 
<span style="font-size: 24px;">
customerservice@abc.com
</span>
</a>





<h5 class="blue-grey-text text-darken-2">Never miss a deal<h5>
<div class="input-field col s7">
<input id="email" type="email" class="validate">
<label for="email" data-error="wrong" data-success="right">Email</label>
</div>
<div class="input-field col s4">
<button class="btn waves-effect waves-light" type="submit" name="action">Subscribe
</div>

</form>