{%extends 'main_app/base.html' %}
{% block content %}
<div class="row">
	<div class="col s4">
		<div class="row">
			<div class="row">
				<div class="card-panel grey lighten-2">
					<span class="red-text"><h5>Add Menu</h5>
					</span>
				</div>
			</div>

		<form action="{{url_for('product_management.addmenu',menu_id=menu_id)}}" method="POST">{{ form.csrf_token }}
		<div class="row">
			<div class="row">
				<div class="input-field">
					<input id="menu_name" type="text" name="menu_name" value= {%if menu_id==None%}{{""}}{% else %}'{{form.menu_name.data}}'{% endif %}>
					<label for="menu_name">Menu</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field">
				<button type="submit" class="btn cyan waves-effect waves-light col s12">Save</button>
				</div>
			</div>
		</div>
		</form>

		</div>
	</div>
	<div class="col s8">
		<div class="row">
			<div class="row">
				<div class="card-panel grey lighten-2">
					<span class="red-text"><h5>Menu List</h5>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}