{%extends 'main_app/base.html' %}
{% block content%}
<div class="col s12 m12 l12">
	<div class="row">
		<div class="row">
			<div class="card-panel grey lighten-2 col s12 m6 l4">
				<span class="red-text"><h5>Add Menu</h5>
				</span>
			</div>
		</div>
		<form  method="POST">
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
			<div class="row">
				<div class="row">
					<div class="input-field col s12 m6 l4">
						<input id="menu_name" type="text" name="menu_name" 
						value= {%if menu_id==None%}{{""}}{% else %}{{form.menu_name.data}}{% endif %}>
						<label for="menu_name">Menu</label>
					</div>
				</div>
				<div class="row">
					<div class="switch">
						<label>
						Off
						
						<input id="is_active" type="checkbox" name="is_active" {%if form.is_active.data==True%}{{'checked=checked'}}{%endif%}>
						
						<span class="lever"></span>
						On
						</label>
					</div>
				</div>
	      		<div class="row">
					<div class="input-field col s12 m6 l4">
						<button type="submit" id="savebutton" class="btn cyan waves-effect waves-light col s12">Save</button>
					</div>
				</div>
			</div>
			

		</form>

		<div class="col s12 m8 l6 offset-l3 m2">
		<div class="row">
			<div class="row" id ="success">
				 <div class="success-msg">
					
				 </div>					 
			</div>
			<div class="row" id ="error">
				 <div class="error-msg">
					
				 </div>					 
			</div>
		</div>
	</div>	

</div>

{% endblock%}
{% block endjs %}
<!-- <script  type="text/javascript" src="{{ url_for('main_app.static',filename='js/jquery.min.js')}}"></script> -->

{{super()}}
<script>
	$(document).ready(function(event){
		
		$('#success').hide()
		$('#error').hide()
		var data;
		var tempurl;
		var url;
		var menu_id;
		url = "{{ url_for('product_management.addmenu',menu_id=menu_id)}}";
		
		// url=tempurl.replace('999999999','None');
				
		// alert(tempurl);

		$('form').on('submit',function(event){
				


				$.ajax({

					type:"POST",
					url:url,
					data: $('form').serialize()
					// success:function(data) {
     //            		$("#successmessage").html(data.success);
     //            		$('#success').removeClass('hide').addClass('show');
						
     //            		// alert('succcess');

					// 						},
					// error: function(error)	{
					// 	$("#errormessage").html(data.error);
					// 	$('#error').removeClass('hide').addClass('show')
						
						// alert('error');
											

					})
					.done(function(data){
						
						ShowMessage(data);
						
					});
			
				event.preventDefault();

			});


		});

		


</script>
{% endblock %}