{%extends 'main_app/base.html' %}
{% block content%}
<div class="col s12 m4 l3">
	<div class="row">
		<div class="row">
			<div class="card-panel grey lighten-2 col s12 m6 l4">
				<span class="red-text"><h5>Add Menu</h5>
				</span>
			</div>
		</div>
		<form action="{{url_for('product_management.addmenu',menu_id=menu_id)}}" method="POST">{{ form.csrf_token }}
			<div class="row">
				<div class="row">
					<div class="input-field col s12 m6 l4">
						<input id="menu_name" type="text" name="menu_name" value= {%if menu_id==None%}{{""}}{% else %}{{form.menu_name.data}}{% endif %}>
						<label for="menu_name">Menu</label>
					</div>
				</div>
				<div class="row">
					<div class="switch">
						<label>
						Off
						<input id="is_active" type="checkbox" name="is_active" {%if form.is_active.data ==True%}{{'checked=checked'}} {% endif %}/>
						<span class="lever"></span>
						On
						</label>
					</div>
				</div>

	      		<div class="row">
					<div class="input-field col s12 m6 l4">
						<button type="submit" class="btn cyan waves-effect waves-light col s12">Save</button>
					</div>
				</div>
			</div>
		</form>




		{% with messages = get_flashed_messages() %}
			{% if messages %}
			    {% for message in messages %}
					<div class="row">
					<div class="chip  red lighten-5">
						{{ message }}
						<i class="close material-icons">close</i>
					</div>
					</div>
				{% endfor %}
			{% endif %}
		{% endwith %}
	</div>

</div>

{% endblock%}