{%extends 'main_app/base.html' %}
{% block content%}
<div class="col s12 m8 l6">
	<div class="row">
		<div class="row">
			<div class="card-panel grey lighten-2 col s12 m12 l12">
				<span class="red-text"><h5>Add Sub Menu</h5>
				</span>
			</div>
		</div>
		<form  method="POST">
			<div class="row">
				<div class="row">
					<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
					<div class="input-field col s12 m12 l12">
						<input id="submenu_name" type="text" name="submenu_name" value= {%if submenu_id==None%}{{""}}{% else %}{{form.submenu_name.data}}{% endif %}>
						<label for="submenu_name">Sub Menu</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12 m12 l12">
						<select id="menu_id" name="menu_id">
						{%if submenu_id==None%}
						<option value="" disabled selected>Select Menu</option>
						{%endif%}

						
						{% for val in menulist %}
						<option value={{val.menu_id}} {%if submenu_id==None%}{""} {%else%}{"selected"}{%endif%}>{{val.menu_name}}</option>
						{%endfor%}
						</select>
						<label>Menu</label>
					</div>
				</div>
				<div class="row">
					<div class="switch">
						<label>
						Off
						<input id="is_active" type="checkbox" name="is_active"  {%if form.is_active.data==True%}{{'checked=checked'}}{%endif%}>
						<span class="lever"></span>
						On
						</label>
					</div>
				</div>

	      		<div class="row">
					<div class="input-field col s12 m12 l12">
						<button type="submit" class="btn cyan waves-effect waves-light col s12">Save</button>
					</div>
				</div>
			</div>
		</form>
	</div>

	<div class="col s12 m8 l6 offset-l3 m2">
		<div class="row">
			<div class="row" id ="success">
				 <div class="success-msg">
					
				 </div>					 
			</div>
			<div class="row" id ="error">
				 <div class="error-msg">
					
				 </div>					 
			</div>
		</div>
	</div>	

</div>


{% endblock%}

{% block endjs %}
{{super()}}
<script>


$(document).ready(function(event){
	$('#success').hide()
	$('#error').hide()

	var url;
	url = "{{ url_for('product_management.addsubmenu',submenu_id=submenu_id)}}";
	

	$('form').on('submit',function(event){

		$.ajax({
			type:"POST",
			url:url,
			data:$('form').serialize(),


		})
		.done(function(data){
						ShowMessage(data);
		});


	event.preventDefault();
	});


});
	
</script>

{% endblock %}
